<header id="header"  class="animated fadeInDown" >

    <div id="logo-group">
        <span id="logo"> <img src="styles/img/Clyck1_media.png" alt="Clyck"> </span>
    </div>

    <span id="extr-page-header-space"> <span class="hidden-mobile hiddex-xs">Precisa de uma conta?</span> <a
           ui-sref="register" class="btn btn-danger">Criar Conta</a> </span>

</header>
<div id="main" role="main"  class="animated fadeInDown" >

    <div id="content" class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 hidden-xs hidden-sm">
                <h1 class="txt-color-red login-header-big">Clyck</h1>

                <div class="hero">
                    <div class="pull-left login-desc-box-l">
                        <h4 class="paragraph-header">Bem vindo a sua nova maneira de aproveitar suas compras!</h4>

                       <!-- <div class="login-app-icons">
                            <a ui-sref="app.dashboard" class="btn btn-danger btn-sm">Frontend Template</a>
                            <a href-void class="btn btn-danger btn-sm">Find out more</a>
                        </div>-->
                    </div>
                    <!--<img src="styles/img/demo/iphoneview.png" class="pull-right display-image" alt style="width:210px">-->
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <h5 class="about-heading">Sobre a Clyck?</h5>

                        <p>
                           Uma nova jeito de realizar suas compras
                        </p>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <h5 class="about-heading">Não perca clientes</h5>

                        <p>
                            Tenha o controle do seu evento e ainda permita que seu cliente tenha o máximo de conforto
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
                <div class="well no-padding">
                    <form action="#/dashboard" id="login-form" class="smart-form client-form"  data-smart-validate-form>
                        <header>
                            Entrar
                        </header>
                        <fieldset>
                            <section>
                                <label class="label">Login/E-mail</label>
                                <label class="input"> <i class="icon-append fa fa-user"></i>
                                    <input type="email" name="email"
                                           data-smart-validate-input
                                           data-required
                                           data-email
                                           data-message-required="Entre com seu e-mail"
                                           data-message-email="Digite um endereço de e-mail válido">
                                    <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i>
                                        Digite seu login/email</b></label>
                            </section>
                            <section>
                                <label class="label">Senha</label>
                                <label class="input"> <i class="icon-append fa fa-lock"></i>
                                   <input type="password" name="password"
                                          data-smart-validate-input
                                          data-required
                                          data-minlength="3"
                                          data-maxnlength="20"
                                          data-message="Digite sua senha">
                                    <b class="tooltip tooltip-top-right"><i class="fa fa-lock txt-color-teal"></i> Digite a Senha</b> </label>

                                <div class="note">
                                    <a ui-sref="forgotPassword">Esqueci minha senha?</a>
                                </div>
                            </section>
                            <section>
                                <label class="checkbox">
                                    <input type="checkbox" name="remember" checked>
                                    <i></i>Ficar conectado?</label>
                            </section>
                        </fieldset>
                        <footer>
                            <button type="submit" class="btn btn-primary">
                               Entrar
                            </button>
                        </footer>
                    </form>
                </div>
                <h5 class="text-center"> - Ou conecte-se usando sua rede social-</h5>
                <ul class="list-inline text-center">
                    <li>
                        <a href-void class="btn btn-primary btn-circle"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href-void class="btn btn-info btn-circle"><i class="fa fa-google-plus"></i></a>
                    </li>
                   <!-- <li>
                        <a href-void class="btn btn-warning btn-circle"><i class="fa fa-linkedin"></i></a>
                    </li>-->
                </ul>
            </div>
        </div>
    </div>
</div>